# 포괄손익계산서 변수 추출
- __추출방법__
 - 항목명으로 추출하려했으나, 항목명은 회사마다 조금 다르게 써서 사용하기 어려움
 - 그러므로 __항목코드__로 추출

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/프로젝트/DART/2021_사업보고서_03_포괄손익계산서.csv', encoding='cp949')

In [3]:
df.head()

,종목코드,회사명,시장구분,업종,업종명,결산월,결산기준일,보고서종류,통화,항목코드,항목명,당기,전기,전전기
0,[000020],동화약품,유가증권시장상장법인,212,의약품 제조업,12,2021-12-31,사업보고서,KRW,ifrs-full_Revenue,수익(매출액),"272,213,188,303","267,438,909,178","307,150,025,786"
1,[000020],동화약품,유가증권시장상장법인,212,의약품 제조업,12,2021-12-31,사업보고서,KRW,ifrs-full_CostOfSales,매출원가,"137,724,476,606","132,156,082,941","185,414,833,362"
2,[000020],동화약품,유가증권시장상장법인,212,의약품 제조업,12,2021-12-31,사업보고서,KRW,ifrs-full_GrossProfit,매출총이익,"134,488,711,697","135,282,826,237","121,735,192,424"
3,[000020],동화약품,유가증권시장상장법인,212,의약품 제조업,12,2021-12-31,사업보고서,KRW,dart_TotalSellingGeneralAdministrativeExpenses,판매비와관리비,"99,203,037,627","96,111,074,456","95,713,549,438"
4,[000020],동화약품,유가증권시장상장법인,212,의약품 제조업,12,2021-12-31,사업보고서,KRW,entity00119195_udf_IS_201932582544980_Statemen...,연구개발비,"16,537,139,775","16,828,204,206","16,332,185,674"

In [4]:
df.columns

Index(['종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류', '통화',
       '항목코드', '항목명', '당기', '전기', '전전기'],
      dtype='object')

In [5]:
df['항목명'].str.contains('당기순').value_counts()

False    45264
True      2344
Name: 항목명, dtype: int64

## 당기순이익(손실)
- __항목코드__로 찾기!!
- 항목코드 : 'ifrs-full_ProfitLoss'

In [6]:
#df_1=df[(df['항목명']=='당기순이익')|(df['항목명']=='당기순이익(손실)')|(df['항목명']=='당기순손실')]
#|(df['항목코드']=='ifrs-full_ProfitLossFromContinuingOperations')제외

In [7]:
df_1 = df[(df['항목코드']=='ifrs-full_ProfitLoss')|
          (df['항목명']=='당기순손실')|(df['항목명']=='당기순이익')|(df['항목명']=='당기순이익(손실)')|(df['항목명']=='당기순이익(순손실)')|
          (df['항목명']=='VI. 당기순이익(손실)')|(df['항목명']=='IX. 당기순이익(손실)')|(df['항목명']=='당기순이익(손 실)')|
          (df['항목명']=='Ⅶ. 당기순이익(손실)')|(df['항목명']=='Ⅷ.당기순이익(손실)')|(df['항목명']=='XIV. 당기순손실')|(df['항목명']=='Ⅷ. 당기순이익')]

In [8]:
df_1.columns

Index(['종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류', '통화',
       '항목코드', '항목명', '당기', '전기', '전전기'],
      dtype='object')

In [9]:
df_1.columns = ['종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류', '통화',
       '항목코드', '항목명', '당기순이익(손실)_당기', '당기순이익(손실)_전기', '당기순이익(손실)_전전기']

In [10]:
#불필요한 열 제거
df_1 = df_1[['회사명', '당기순이익(손실)_당기', '당기순이익(손실)_전기', '당기순이익(손실)_전전기']]

In [11]:
df_1

              회사명     당기순이익(손실)_당기     당기순이익(손실)_전기    당기순이익(손실)_전전기
13           동화약품   14,734,485,181   28,442,849,162    9,242,919,448
58          KR모터스   -7,234,011,271  -11,635,826,789  -54,582,757,233
67             경방   23,305,943,910   26,011,323,090   22,223,943,298
86          삼양홀딩스  241,020,000,000   74,155,000,000   20,587,000,000
111         하이트진로   72,537,859,654   52,119,644,942  -40,690,936,660
...           ...              ...              ...              ...
47532         SNK      -97,035,568    1,758,398,688    2,686,752,710
47550         미투젠      193,094,463      247,634,888      232,002,058
47569         소마젠       -6,170,351      -18,291,850      -19,788,834
47588  프레스티지바이오파마       -5,596,699      -12,270,785       -1,285,152
47602       네오이뮨텍      -42,033,053      -25,459,889      -12,010,859

[2236 rows x 4 columns]

# 주당순이익
- 항목코드 : ifrs-full_BasicEarningsLossPerShare
  - 주당순이익은 항목코드가 다른 회사들도 있어 데이터셋 완성후 csv파일과 비교해가며 결측치를 채워줘야 함

In [12]:
df_2 =  df[(df['항목코드']=='ifrs-full_BasicEarningsLossPerShare')|(df['항목명']=='보통주 기본주당순이익')|(df['항목명']=='      보통주 기본주당순이익')|
           (df['항목명']=='   보통주의 기본주당순이익')|(df['항목명']=='   기본(희석)주당순이익(손실)')|(df['항목명']=='   기본및희석주당순이익')|
           (df['항목명']=='   기본주당순이익')|(df['항목명']=='   보통주 기본주당순이익')|(df['항목명']=='   보통주당순이익')|(df['항목명']=='   기본주당순이익(손실)')|
           (df['항목명']=='      보통주 기본주당순이익')|(df['항목명']=='   기본주당순이익(보통주)')|(df['항목명']=='   기본 및 희석주당순이익(손실)')|(df['항목명']=='   기본및희석주당순이익')|
           (df['항목명']=='   보통주 기본 및 희석주당순이익(손실)')]

In [13]:
df_2.shape

(1958, 14)

In [14]:
df_2.columns = ['종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류', '통화',
       '항목코드', '항목명', '기본주당순이익(손실)_당기', '기본주당순이익(손실)_전기', '기본주당순이익(손실)_전전기']

In [15]:
#불필요한 열 제거
df_2 = df_2[['회사명', '기본주당순이익(손실)_당기', '기본주당순이익(손실)_전기', '기본주당순이익(손실)_전전기']]

In [16]:
df_2

              회사명 기본주당순이익(손실)_당기 기본주당순이익(손실)_전기 기본주당순이익(손실)_전전기
22           동화약품            533          1,030             335
65          KR모터스            -75           -154          -1,153
117         하이트진로          1,039            746            -584
141          유한양행          1,660          2,815             822
179        성창기업지주             10             16              32
...           ...            ...            ...             ...
47499      코오롱티슈진             -3             -3              -4
47554         미투젠             15             21              21
47575         소마젠              0             -1              -2
47591  프레스티지바이오파마             -1             -1               0
47606       네오이뮨텍             -2             -2              -1

[1958 rows x 4 columns]

## 영업이익
- 항목코드 : dart_OperatingIncomeLoss

In [17]:
#영업이익 행만 추출
df_3 = df[(df['항목코드']=='dart_OperatingIncomeLoss')|(df['항목명']=='영업이익(손실)')|(df['항목명']=='영업이익')]


#영업이익 열이름 바꾸기
df_3.columns = ['종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류', '통화',
       '항목코드', '항목명', '영업이익(손실)_당기', '영업이익(손실)_전기', '영업이익(손실)_전전기']


#불필요한 열 제거
df_3 = df_3[['회사명', '영업이익(손실)_당기', '영업이익(손실)_전기', '영업이익(손실)_전전기']]

In [18]:
df_3

              회사명      영업이익(손실)_당기      영업이익(손실)_전기     영업이익(손실)_전전기
5            동화약품   18,748,534,295   22,343,547,575    9,689,457,312
27          KR모터스     -934,384,592   -1,623,596,559  -14,586,056,265
79          삼양홀딩스  242,469,000,000   76,245,000,000   19,737,000,000
104         하이트진로  150,506,899,800  180,768,750,365   80,294,719,479
124          유한양행   61,170,450,173  115,964,232,044   40,360,545,445
...           ...              ...              ...              ...
47526         SNK      664,792,534    1,547,672,205    3,873,437,545
47543         미투젠      236,331,776      300,298,247      283,403,701
47561         소마젠       -6,757,879       -8,705,863       -4,167,226
47581  프레스티지바이오파마      -15,406,359       -8,956,096       -3,940,674
47595       네오이뮨텍      -41,688,374      -26,186,578      -13,758,273

[2049 rows x 4 columns]

## 매출액
- 항목코드 : ifrs-full_Revenue

In [19]:
#매출액 행만 추출
df_4 = df[(df['항목코드']=='ifrs-full_Revenue')|(df['항목명']=='매출액')|(df['항목명']=='수익(매출액)')]


#영업이익 열이름 바꾸기
df_4.columns = ['종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류', '통화',
       '항목코드', '항목명', '매출액_당기', '매출액_전기', '매출액_전전기']


#불필요한 열 제거
df_4 = df_4[['회사명', '매출액_당기', '매출액_전기', '매출액_전전기']]

In [20]:
df_4

              회사명             매출액_당기             매출액_전기            매출액_전전기
0            동화약품    272,213,188,303    267,438,909,178    307,150,025,786
23          KR모터스     16,966,801,991     20,218,004,586     37,365,835,502
100         하이트진로  1,977,099,627,259  2,049,288,473,497  1,830,147,018,997
119          유한양행  1,624,133,429,291  1,567,941,075,202  1,463,260,524,486
191          유유제약     91,277,590,950     81,216,970,871     78,957,803,088
...           ...                ...                ...                ...
47520         SNK      4,055,073,694      5,432,267,862      8,804,201,125
47539         미투젠        638,460,759        742,445,216        651,651,888
47556         소마젠         24,983,530         16,105,984         17,232,301
47577  프레스티지바이오파마                  0                  0          1,840,000
47593       네오이뮨텍                  0                  0                  0

[1980 rows x 4 columns]

# 데이터 프레임 합치기

In [23]:
p1 = pd.merge(df_1, df_2, how='outer', on='회사명')

In [24]:
p1

,회사명,당기순이익(손실)_당기,당기순이익(손실)_전기,당기순이익(손실)_전전기,기본주당순이익(손실)_당기,기본주당순이익(손실)_전기,기본주당순이익(손실)_전전기
0,동화약품,"14,734,485,181","28,442,849,162","9,242,919,448",533,"1,030",335
1,KR모터스,"-7,234,011,271","-11,635,826,789","-54,582,757,233",-75,-154,"-1,153"
2,경방,"23,305,943,910","26,011,323,090","22,223,943,298",NaN,NaN,NaN
3,삼양홀딩스,"241,020,000,000","74,155,000,000","20,587,000,000",NaN,NaN,NaN
4,하이트진로,"72,537,859,654","52,119,644,942","-40,690,936,660","1,039",746,-584
...,...,...,...,...,...,...,...
2256,SNK,"-97,035,568","1,758,398,688","2,686,752,710",NaN,NaN,NaN
2257,미투젠,"193,094,463","247,634,888","232,002,058",15,21,21
2258,소마젠,"-6,170,351","-18,291,850","-19,788,834",0,-1,-2
2259,프레스티지바이오파마,"-5,596,699","-12,270,785","-1,285,152",-1,-1,0
2260,네오이뮨텍,"-42,033,053","-25,459,889","-12,010,859",-2,-2,-1

In [25]:
p2 = pd.merge(p1, df_3, how='outer', on='회사명')

In [26]:
p2

,회사명,당기순이익(손실)_당기,당기순이익(손실)_전기,당기순이익(손실)_전전기,기본주당순이익(손실)_당기,기본주당순이익(손실)_전기,기본주당순이익(손실)_전전기,영업이익(손실)_당기,영업이익(손실)_전기,영업이익(손실)_전전기
0,동화약품,"14,734,485,181","28,442,849,162","9,242,919,448",533,"1,030",335,"18,748,534,295","22,343,547,575","9,689,457,312"
1,KR모터스,"-7,234,011,271","-11,635,826,789","-54,582,757,233",-75,-154,"-1,153","-934,384,592","-1,623,596,559","-14,586,056,265"
2,경방,"23,305,943,910","26,011,323,090","22,223,943,298",NaN,NaN,NaN,NaN,NaN,NaN
3,삼양홀딩스,"241,020,000,000","74,155,000,000","20,587,000,000",NaN,NaN,NaN,"242,469,000,000","76,245,000,000","19,737,000,000"
4,하이트진로,"72,537,859,654","52,119,644,942","-40,690,936,660","1,039",746,-584,"150,506,899,800","180,768,750,365","80,294,719,479"
...,...,...,...,...,...,...,...,...,...,...
2302,SNK,"-97,035,568","1,758,398,688","2,686,752,710",NaN,NaN,NaN,"664,792,534","1,547,672,205","3,873,437,545"
2303,미투젠,"193,094,463","247,634,888","232,002,058",15,21,21,"236,331,776","300,298,247","283,403,701"
2304,소마젠,"-6,170,351","-18,291,850","-19,788,834",0,-1,-2,"-6,757,879","-8,705,863","-4,167,226"
2305,프레스티지바이오파마,"-5,596,699","-12,270,785","-1,285,152",-1,-1,0,"-15,406,359","-8,956,096","-3,940,674"
2306,네오이뮨텍,"-42,033,053","-25,459,889","-12,010,859",-2,-2,-1,"-41,688,374","-26,186,578","-13,758,273"

In [27]:
fi = pd.merge(p2, df_4, how='outer', on='회사명')

In [31]:
fi.isna().sum()

회사명                  0
당기순이익(손실)_당기         1
당기순이익(손실)_전기         8
당기순이익(손실)_전전기       86
기본주당순이익(손실)_당기     335
기본주당순이익(손실)_전기     340
기본주당순이익(손실)_전전기    414
영업이익(손실)_당기        188
영업이익(손실)_전기        193
영업이익(손실)_전전기       269
매출액_당기             268
매출액_전기             273
매출액_전전기            383
영업이익_당기            188
영업이익_전기            193
영업이익_전전기           269
dtype: int64

---
---

In [32]:
#csv파일 생성
fi.to_csv('포괄손익계산서 변수 추출.csv', encoding='utf-8-sig')